---
import Layout from "../layouts/Layout.astro";
import MainContent from "../components/MainContent";
---

<Layout
  title="Josep Vilchez Garcia - Desarrollador Full-stack & Project Manager"
>
  <main class="min-h-screen bg-gradient-to-br from-black via-black to-gray-900">
    <MainContent client:load />
  </main>
</Layout>
